include CMakeLists.txt
include examples/ex_mpi_wrappers.py
include examples/ex_mpi_numpy_wrappers.py
include examples/ex_mpi_profiling_options.py
recursive-include cmake *.cmake.in
recursive-include examples/cmake CMakeLists.txt *.c *.cpp
