name: Test with pylikwid

on:
  push:
    branches:
      - main
      - devel
  pull_request:
    branches:
      - main
      - devel

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      name: Set up Python ${{ matrix.python-version }}
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install MPI prerequisites
      run: |
        sudo apt-get update
        sudo apt-get install -y libopenmpi-dev openmpi-bin

    - name: Install likwid
      run: |
        git clone https://github.com/RRZE-HPC/likwid.git
        cd likwid
        make && sudo make install
        sudo modprobe msr

    - name: Install pylikwid
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install setuptools
        python3 -m pip install pylikwid

    - name: Test
      run: |
        export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
        python3 -c "import pylikwid"
    # ./tests/testtopo.py
    # ./tests/testpin.py
    # ./tests/testaffinity.py
    
    - name: Install project
      run: |
        pip install --upgrade pip
        pip install ".[dev]"
    
    - name: Run tests
      run: |
        pytest .
    
    - name: Test exaples with pylikwid
      run: |
        echo "Testing..."
