name: Test with pylikwid

on:
  push:
    branches: [ main, devel ]
  pull_request:
    branches: [ main, devel ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      name: Set up Python ${{ matrix.python-version }}
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install MPI prerequisites
      run: |
        sudo apt-get update
        sudo apt-get install -y libopenmpi-dev openmpi-bin

    - name: Install LIKWID (with shared library support)
      run: |
        git clone https://github.com/RRZE-HPC/likwid.git
        cd likwid
        make ENABLE_SHARED=1
        sudo make install
        echo "/usr/local/lib" | sudo tee /etc/ld.so.conf.d/likwid.conf
        sudo ldconfig
        likwid-perfctr -a

    - name: Install pylikwid from source
      run: |
        git clone https://github.com/RRZE-HPC/pylikwid.git
        cd pylikwid
        # Build extension, provide include/lib paths
        python3 setup.py build_ext \
        -I/usr/local/include \
        -L/usr/local/lib \
        -R/usr/local/lib
        # Install it
        python3 setup.py install

    # - name: Install pylikwid from pypi
    #   run: |
    #     python3 -m pip install --upgrade pip
    #     python3 -m pip install setuptools
    #     python3 -m pip install pylikwid

    - name: Verify pylikwid import
      run: |
        python3 -c "import pylikwid; print('pylikwid OK')"
    
    - name: Test likwid-mpirun
      run: |
        likwid-perfctr -a
        likwid-mpirun -h
        likwid-mpirun -n 1 -g FLOPS_SP -stats python3 -c "import pylikwid; print('pylikwid OK')"

    - name: Install project
      run: |
        pip install --upgrade pip
        pip install ".[dev]"

    - name: Run tests
      run: |
        pytest -q .
    
    - name: Test examples with pylikwid
      run: |
        likwid-mpirun -n 2 -g FLOPS_SP python src/scope_profiler/tests/test_mpi.py
