name: Testing

on:
  push:
    branches: [ main, devel ]
  pull_request:
    branches: [ main, devel ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]
    
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      name: Set up Python ${{ matrix.python-version }}
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install MPI prerequisites
      run: |
        sudo apt-get update
        sudo apt-get install -y libopenmpi-dev openmpi-bin

    - name: Install LIKWID
      run: |
        git clone https://github.com/RRZE-HPC/likwid.git
        cd likwid
        make && sudo make install
        sudo modprobe msr
        echo "/usr/local/lib" | sudo tee /etc/ld.so.conf.d/likwid.conf
        sudo ldconfig
        likwid-perfctr -a

    - name: Install pylikwid from source
      run: |
        git clone https://github.com/RRZE-HPC/pylikwid.git
        cd pylikwid
        python3 -m pip install --upgrade pip
        python3 -m pip install setuptools
        # Build extension, provide include/lib paths
        python3 setup.py build_ext \
        -I/usr/local/include \
        -L/usr/local/lib \
        -R/usr/local/lib
        # Install it
        python3 setup.py install

    # - name: Install pylikwid from pypi
    #   run: |
    #     python3 -m pip install --upgrade pip
    #     python3 -m pip install setuptools
    #     python3 -m pip install pylikwid

    - name: Verify pylikwid import
      run: |
        python3 -c "import pylikwid"
    
    - name: Test likwid-mpirun
      run: |
        likwid-perfctr -a
        likwid-mpirun -h
        likwid-mpirun -n 1 -g FLOPS_SP -mpi openmpi -stats python3 -c "import pylikwid"

    - name: Test pylikwid readme example
      run: |
        likwid-mpirun -n 1 -g FLOPS_SP -mpi openmpi -stats python3 src/scope_profiler/tests/pylikwid_readme.py

    - name: Install project
      run: |
        pip install --upgrade pip
        pip install ".[dev]"

    - name: Run tests
      run: |
        pytest .
      
    - name: Test postprocessing
      run: |
        python3 src/scope_profiler/tests/examples.py
        scope-profiler-pproc profiling_data.h5 --show -o figures

    - name: Test postprocessing (MPI)
      run: |
        mpirun -n 2 python3 src/scope_profiler/tests/test_mpi.py
        scope-profiler-pproc profiling_data.h5 --show -o figures
    
    - name: Test examples with pylikwid
      run: |
        likwid-mpirun -n 2 -g FLOPS_SP -mpi openmpi -stats python3 src/scope_profiler/tests/pylikwid.py

    # - name: Test tutorials
    #   run: |
    #     jupyter nbconvert --to notebook --execute tutorials/*.ipynb --output-dir=/tmp --ExecutePreprocessor.timeout=300

    # - name: Test docs build
    #   run: |
    #     pip install ".[docs]"
    #     cd docs
    #     make clean
    #     make html
    #     cd ..
    #     ls docs/build/html/index.html