name: Tests

on:
  push:
    branches:
      - main
      - devel
  pull_request:
    branches:
      - main
      - devel

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # Cache pip dependencies
      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      # - name: Install dependencies
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install -y pandoc

      - name: Install MPI prerequisites
        run: |
          sudo apt-get update
          sudo apt-get install -y libopenmpi-dev openmpi-bin

      - name: Install project
        run: |
          pip install --upgrade pip
          pip install ".[dev]"

      - name: Run tests
        run: |
          pytest .
      
      - name: Test postprocessing
        run: |
          python src/scope_profiler/tests/examples.py
          scope-profiler-pproc profiling_data.h5 --show -o figures

      - name: Test postprocessing (MPI)
        run: |
          mpirun -n 2 python src/scope_profiler/tests/test_mpi.py
          scope-profiler-pproc profiling_data.h5 --show -o figures

      # - name: Test tutorials
      #   run: |
      #     jupyter nbconvert --to notebook --execute tutorials/*.ipynb --output-dir=/tmp --ExecutePreprocessor.timeout=300

      # - name: Test docs build
      #   run: |
      #     pip install ".[docs]"
      #     cd docs
      #     make clean
      #     make html
      #     cd ..
      #     ls docs/build/html/index.html
